.layout {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    --header-height: clamp(80px, 10vh, 100px);
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    height: var(--header-height);
}

.main {
    position: absolute;
    inset: 0; /* couvre tout le layout */
    z-index: 1;
}

.filters {
    position: absolute;
    top: var(--header-height);
    margin-top: 10px;
    z-index: 10;
}

.footer {
    position: absolute;
    bottom: 18px;
    left: 8px;
    z-index: 10;
}

.footer-container {
    font-family: var(--font-subtitle);
    color: var(--yellow-500);
    font-size: 3vh;
}


@media (min-width: 769px) {
    .filters {
        left: 50%;
        transform: translateX(-50%);
    }

    .header {
        grid-template-columns: 1fr 50vw 1fr;
    }
}