/* RETOUR UTILISATEUR */
.popup {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%); /* centré horizontalement */

  z-index: 1100;
  border: 1px solid var(--yellow-500);
  background-color: black;
  color: var(--yellow-500);
  border-radius: 5px;
  padding: clamp(8px, 1vw, 10px);

  animation: slideUp 0.5s ease-out;
}

.retour-user {
  display: grid;
  grid-template-columns: 1fr 24px;
  align-items: start;
  padding-right: 4px;
}

@keyframes slideUp {
from {
    opacity: 0;
    transform: translate(-50%, 20px);
}
to {
    opacity: 1;
    transform: translate(-50%, 0);
}
}

.btn-close-retour-user {
  background: none;
  border: none;
  color: var(--yellow-500);
  font-size: 18px;

  align-self: start;
  padding: 0;
  line-height: 1; /* ligne de la taille de l'icone */
  cursor: pointer;
}

.message-retour-user {
  font-family: var(--font-subtitle);
  font-size: 14px;
  padding-top: 10px;
}

/* MENU SPORT ELEMENT */
.menu-sport-element {
  display: grid;
  grid-template-rows: auto 50px 100px;
  gap: 5px;
  min-width: 100px;
}

.btn-close-menu-sport-element {
  background: none;
  border: none;
  color: var(--yellow-500);
  font-size: 18px;
}

.first-line-menu-sport-element {
  display: flex;
  justify-content: space-between;
  font-family: var(--font-subtitle);
  font-size: 16px;
}

.second-line-menu-sport-element {
  font-family: var(--font-subtitle);
  font-size: 14px;
}

.third-line-menu-sport-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font-subtitle);
  font-size: 8px;
  gap: 2px;
  padding: 3px;
}

.third-line-menu-sport-element .a {
  width: 100%;
}

@media (min-width: 769px) {
    .third-line-menu-sport-element {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      font-family: var(--font-subtitle);
      font-size: 14px;
      gap: 5px;
      padding: 10px;
    }

    .third-line-menu-sport-element .a {
      width: auto;
    }

    .menu-sport-element {
      display: grid;
      grid-template-rows: auto 50px 50px;
      gap: 5px;
      min-width: 35vw;
  }
}